
/* Estilos Globales - Global Styles */
body {
    display: flex;
}

/* Estilos - Styles */
.contenedor-juego {
    width: 500px;
    height: 730px;
    position: absolute;
    left: 80px;
}

.borde-izquierdo {
    width: 80px;
    height: 790px;
    position: absolute;
    background-color: white;
    z-index: +2;
}

.borde-derecho {
    width: 80px;
    height: 790px;
    position: absolute;
    background-color: white;
    z-index: +2;
    left: 580px;
}

.borde-superior {
    width: 660px;
    height: 50px;
    position: absolute;
    background-color: white;
    z-index: +2;
    top: -50px;
}

.cielo {
    background-image: url("../images/fb-game-background.png");
    width: 500px;
    height: 580px;
    position: absolute;
}

.suelo {
    background-image: url("../images/bottom-background.png");
    width: 500px;
    height: 150px;
    position: absolute;
    top: 580px;
    z-index: +1;
}

.ave {
    background-image: url("../images/flappy-bird.png");
    position: absolute;
    width: 60px;
    height: 45px;
    left: 220px;
    bottom: 100px;
}

.obstaculo {
    background-image: url("../images/flappybird-pipe.png");
    width: 60px;
    height: 300px;
    position: absolute;
}

.obstaculo-arriba {
    background-image: url("../images/flappybird-pipe.png");
    transform: rotate(180deg);
    width: 60px;
    height: 300px;
    position: absolute;
}

@keyframes slideright{
    from {
        background-position: 10000%;
    }
    to {
        background-position: 0%;
    }
}

@-webkit-keyframes slideright {
    from {
        background-position: 10000%;
    }        
    to {
        background-position: 0%;
    }
}

.contenedor-suelo {
    height: 150px;
    width: 580px;
    left: 80px;
    position: absolute;
}

.suelo-movil {
    position: absolute;
    top: 580px;
    height: 150px;
    background-image: url("../images/bottom-background.png");
    background-repeat: repeat-x;
    animation: slideright 100s infinite linear;
    -webkit-animation: slideright 100s infinite linear;
    width: 100%;
    z-index: +1;
}
